body {
    background: #e9f1f4;
    padding-bottom: 8rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

h3,h4 {
    font-weight: 300;
}

#main-header {
    background: url("http://imgclasificados1.emol.com/Proyectos/imagenes/proyecto/PR_FOTO_3901_Imagen%20005.png");
    background-size: cover;
    display: flex;
    height: 300px;
    color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0,0,0,.4);
    }
    > div {
        position: relative;
        z-index: 1;
    }
    h1 {
        font-weight: 300;
        font-size: 3rem;
        letter-spacing: -3px;
    }
    h2 {
        opacity: .5;
    }
}

#app {
    margin-top: -80px;
    position: relative;
}

.form-control.error {
    border-color: red
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
  }
strong {
    font-weight: 700;
}
.well-light {
    padding: .5rem;
    background: #eef3f9;
    border-radius: .25rem;
}
.overlay {
    .card {
        height: 90vh;
    }
}
.card {
    border: 0;
    .card-header {
        color: #FFF;
        border: 0;
        background: #3982e4;
    }
    .card-body {
        overflow: auto;
    }
}

.highlight {
    background:#eef3f9;
    padding: .25rem;
    border-radius: .25rem;
}

.sb::-webkit-scrollbar {
    width: 5px;
}

.sb::-webkit-scrollbar-track {
    background: #ddd;
}

.sb::-webkit-scrollbar-thumb {
    background: #3982e4; 
}


/* VUE SELECT */

.multiselect-lg {
    .multiselect__tags {
          display: flex;
    align-items: center;
    padding: 0 8px;
    min-height: 48px;
    }
    .multiselect__select {
        min-height: 48px
    }

    .multiselect__option--highlight {
        background: #3982e4;
    }

  }